.app{
    display: flex;
    flex-direction: row;
    
    .textarea{
        width: 50vw;
        height: 100vh;
        background-color:#EFF1F5;
        border-right: 1px solid black;
        padding: 30px;
    }
    .preview{
        width: 50vw;
        height: 100vh;
        background-color: #E8EAF1;
        padding: 50px;
    }
}